<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=".././../assets/languages/page_languages.js"></script>
    <link rel="stylesheet" href="creditos.css">
</head>
<body>

    <main>

        <div id="div-creditos">

            <span id="universidade"></span>
            <span id="laboratorio"></span>
            <span id="versao"></span>
            <h1 id="titulo-ferramenta"></h1>
            <h2 id="titulo-autores"></h2>
            <span id="autores"></span>
            <h2 id="titulo-apoio"></h2>
            <span id="apoio-1"></span>
            <span id="localizacao"></span>
            <span id="data"></span>

        </div>

    </main>

</body>
<script>
    Language_page()
</script>

</html>