<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src=".././../assets/languages/page_languages.js"></script>
    <link rel="stylesheet" href="referencias.css">
</head>
<body>
    <main>
        <div id="div-referencias">
            <span id="titulo-referencias">REFERENCIAS</span>
            <ul>
                <li>
                    <a href="http://dx.doi.org/10.1590/0370-44672021760094" id="ref-1" target="_blank">Cardozo artigo</a>
                </li>
                <li>
                    <a href="http://hdl.handle.net/10183/262393" id="ref-2" target="_blank">Cardozo tese</a>
                </li>
                <li>
                    <a id="ref-3" target="_blank">La Vergne</a>
                </li>
                <li>
                    <a id="ref-4" target="_blank">Moser</a>
                </li>
             
            </ul>
        </div>
    </main>
</body>
<script>
    Language_page()
</script>

</html>